@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Biblioteca 📚</h1>
    <p>Bine v-am gasit la biblioteca lui Radu.</p>
    <p>Data de azi: @(DateTime.Now)</p>
</div>
